
body {
	font-family: 'Montserrat';
	font-size: 15px;
	line-height: 20px;
	color: #FF00FF;
	background-color: #1935bf;
	background-image: url(https://wallpapermemory.com/uploads/180/cloud-background-full-hd-1920x1080-86133.jpg);
	background-repeat: no-repeat;
  background-size: cover; // 1200px;
	margin: 0;
	padding: 0;
	margin-bottom: -20px;
	}

h1
